{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>

    <link rel="stylesheet" href="{% static 'dist/css/adminlte.rtl.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-3gJwYp8pNQ6F7sH0uV5pQJY1iM0PpH+0O1p4u7r2B2c="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script href="{% static 'dist/js/adminlte.min.js' %}"></script>
</head>
<body>
    <div id="app" class="container mt-4">
        <a href="{% url 'customer_add' %}" class="btn btn-sm btn-info">
            Add Customer
        </a>

        <table class="table table-bordered table-striped table-hover mt-4">
            <thead class="table-dark">
                <tr>
                    <th>Customer No</th>
                    <th>Customer Name</th>
                    <th>Customer Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="customer in customers" :key="customer.customer_id">
                    <td>
                        <a href="{% url 'customer_detail' customer.customer_id %}">
                            {{ customer.customer_no }}
                        </a>
                    </td>
                    <td>{{ customer.customer_name }}</td>
                    <td>{{ customer.customer_address }}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" onclick="deleteCustomer({{ customer.customer_id }})">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                customers: [],
            },
            mounted() {
                this.fetchCustomers();
            },
            methods: {
                fetchCustomers() {
                    axios.get('/customer/vue')
                        .then(response => {
                            this.customers = response.data;
                        })
                        .catch(error => {
                            console.error("There was an error fetching customers!", error);
                        });
                },
                deleteCustomer(customerId) {
                    axios.delete(`/customer/vue/${customerId}`)
                        .then(() => {
                            this.customers = this.customers.filter(customer => customer.customer_id !== customerId);
                        })
                        .catch(error => {
                            console.error("There was an error deleting the customer!", error);
                        });
                }
            }
        });
    </script>
</body>
</html>
