{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales Management</title>

    <!-- AdminLTE CSS -->
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.rtl.css' %}">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-3gJwYp8pNQ6F7sH0uV5pQJY1iM0PpH+0O1p4u7r2B2c="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = 'X-CSRFToken'
        axios.defaults.withCredentials = true
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app" class="container mt-4">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Sales No</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="sale in sales" :key="sale.sales_id">
                    <td>
                        <a :href="`/sales/${sale.sales_id}`" v-text="sale.sales_no"></a>
                    </td>
                    <td v-text="sale.item.item_name"></td>
                    <td v-text="sale.quantity"></td>
                    <td>
                        <button
                            class="btn btn-danger btn-sm"
                            @click="deleteSales(sale.sales_id)"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0">Create Sales</h5>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="submitForm" method="post">
                            {% csrf_token %}
                            <input
                                type="text"
                                class="form-control mt-4"
                                v-model="form.sales_no"
                                placeholder="Sales No"
                            >

                            <select v-model="form.item" class="form-control mt-4">
                                <option
                                    v-for="item in items"
                                    :key="item.item_id"
                                    :value="item.item_id"
                                    v-text="item.item_name">
                                </option>
                            </select>

                            <input
                                type="number"
                                class="form-control mt-4"
                                v-model="form.quantity"
                                placeholder="Quantity"
                            >

                            <button type="submit" class="btn btn-primary mt-4">
                                Save
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                sales: '',
                items: '',
                form: {
                    sales_no: '',
                    item: '',
                    quantity: '',
                }
            },
            mounted() {
                this.fetchItems();
                this.fetchSales();
            },
            methods: {
                fetchItems() {
                    axios.get('/item/vue/fetch')
                        .then(response => {
                            this.items = response.data;
                            if (this.items.length > 0) {
                                this.form.item = this.items[0].item_id;
                            }
                        })
                        .catch(error => {
                            console.error("There was an error fetching items!", error);
                        });
                },
                fetchSales() {
                    axios.get('/sales/fetch')
                        .then(response => {
                            this.sales = response.data;
                            console.log(this.sales);
                        })
                        .catch(error => {
                            console.error("There was an error fetching sales!", error);
                        });
                },
               deleteSales(salesId) {
                    axios.post(`/sales/delete/${salesId}`)
                        .then(() => {
                            this.sales = this.sales.filter(i => i.sales_id !== salesId)
                        })
               },
               submitForm() {
                    const formData = new FormData()

                    Object.keys(this.form).forEach(key => {
                        formData.append(key, this.form[key])
                    })

                    axios.post('/sales/', formData)
                        .then(response => {
                            const newSale = {
                                sales_id: response.data.sales_id,
                                sales_no: response.data.sales_no,
                                item: response.data.item,
                                quantity: response.data.quantity
                            };
                            this.sales.push(newSale);
                            this.resetForm();
                        })
                        .catch(error => {
                            console.error("Error creating sales:", error);
                        });
                },
                resetForm() {
                    this.form.sales_no = '';
                    this.form.item = this.items[0].item_id;
                    this.form.quantity = '';
                },
            }
        });
    </script>
</body>
</html>
